.wy-nav-content {
    max-width:1200px;
}
.red-comment {
    color: red;
    font-weight: bold;
}

.md-typeset table {
  display: table;
  width: 100%;
  table-layout: auto;
  word-wrap: break-word;
  white-space: normal;
}

